{% extends "base.html.twig" %}

{% block body %}

<div class="text-center">
    <h1>
        {% if editMode %}
            BACKOFFICE | Modification d'un compte utilisateur
        {% else %}
            BACKOFFICE | Création d'un compte utilisateur
        {% endif %}
    </h1>

    {# FORM_START & FORM_END permettent de délimiter un formulaire , de modifier ses champs, changer la méthode, ... #}
    {{ form_start(formMembre, {
        attr: {
            novalidate: 'novalidate'
        }
        })
    }}

    <table class="table">
        <tr>
            <td class="fw-bold" colspan="3">
                {{ form_label(formMembre.pseudo, 'Pseudo')}}
            </td>
            <td class="fw-bold" colspan="3">
                {{ form_label(formMembre.email, 'E-mail')}}
            </td>
        </tr>
        <tr>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-user fa-2x"></i>&nbsp;
            </td>
            <td colspan="2">
                {{ form_widget(formMembre.pseudo, {
                    attr: {
                        placeholder: "Votre pseudo"
                        }
                }) }}
            </td>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-envelope fa-2x"></i>&nbsp;
            </td>
            <td colspan="2">
                {{ form_widget(formMembre.email, {
                    attr: {
                        placeholder: "Votre e-mail"
                        }
                }) }}
            </td>
        </tr>
        <tr>
            <td class="fw-bold" colspan="3">
                {{ form_label(formMembre.password, 'Mot de passe')}}
            </td>
            <td class="fw-bold" colspan="3">
                {{ form_label(formMembre.roles, 'Statut')}}
            </td>
        </tr>
        <tr>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-suitcase fa-2x"></i>&nbsp;
            </td>
            <td colspan="2">
                {{ form_widget(formMembre.password, {
                    attr: {
                        placeholder: "Votre mot de passe"
                        }
                }) }}
            </td>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-user fa-2x"></i><i class="fa-solid fa-user-gear fa-2x"></i>&nbsp;
            </td>
            <td colspan="2">
                {{ form_widget(formMembre.roles) }}
            </td>
        </tr>
            <tr>
            <td class="fw-bold" colspan="2">
                {{ form_label(formMembre.civilite, 'Civilité')}}
            </td>
            <td class="fw-bold" colspan="2">
                {{ form_label(formMembre.nom, 'Nom')}}
            </td>
            <td class="fw-bold" colspan="2">
                {{ form_label(formMembre.prenom, 'Prenom')}}
            </td>
        </tr>
        <tr>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-person-half-dress fa-2x"></i>&nbsp;
            </td>
            <td>
                {{ form_widget(formMembre.civilite) }}
            </td>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-pen fa-2x"></i>&nbsp;
            </td>
            <td>
                {{ form_widget(formMembre.nom) }}
            </td>
            <td class="bg-secondary bg-opacity-10">
                &nbsp;<i class="fa-solid fa-pen fa-2x"></i>&nbsp;
            </td>
            <td>
                {{ form_widget(formMembre.prenom) }}
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary mt-2">
        {% if editMode %}
            Modifier
        {% else %}
            Enregistrer
        {% endif %}
    </button>

    {{ form_end(formMembre) }}
</div>
{% endblock %}
