{% extends "base.html.twig" %}

{% block body %}

	<h1>
		{% if editMode %}
			BACKOFFICE | Modification d'un véhicule
		{% else %}
			BACKOFFICE | Création d'un véhicule
		{% endif %}
	</h1>

	{# FORM_START & FORM_END permettent de délimiter un formulaire , de modifier ses champs, changer la méthode, ... #}
	{{ form_start(formVehicule, {
        attr: {
            novalidate: 'novalidate'
        }
        })
    }}

	{# FORM_ROW permet de gérer l'afficahge d'un champ et de son label #}
	{{ form_row(formVehicule.titre, {
                label: "Titre",
                attr: {
                    placeholder: "Titre du véhicule"
                }
            }) }}
	{{ form_row(formVehicule.marque, {
                label: "Marque",
                attr: {
                    placeholder: "Marque du véhicule"
                }
            }) }}
	{{ form_row(formVehicule.modele, {
                label: "Modele",
                attr: {
                    placeholder: "Modèle du véhicule"
                }
            }) }}
    {{ form_row(formVehicule.description, {
                label: "Description",
                attr: {
                    placeholder: "Description du véhicule"
                }
            }) }}
	{{ form_row(formVehicule.photo) }}
    {{ form_row(formVehicule.prix_journalier, {
                label: "Prix journalier",
                attr: {
                    placeholder: "Prix  journalier du véhicule"
                }
            }) }}

	<button type="submit" class="btn btn-primary mt-2">
		{% if editMode %}
			Modifier
		{% else %}
			Enregistrer
		{% endif %}
	</button>

	{{ form_end(formVehicule) }}

{% endblock %}
